<!-- <form [ngFormModel]="heroForm">
  <h2>Hero Form</h2>
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" ngControl="heroName">
    <div *ngIf="!heroName.valid && !heroForm.controls['heroName'].pristine">
      <div *ngIf="heroForm.controls['heroName'].hasError('required')">
        Name is required
      </div>
      <div *ngIf="heroForm.controls['heroName'].hasError('overSixCharacters')">
        Needs to be shorter
      </div>
    </div>
  </div>
  <div>
    <label for="alterEgo">Alter Ego</label>
    <input type="text" id="alterEgo" ngControl="heroAlterEgo">
  </div>
  <div>
    <label for="power">Hero Power</label>
    <select id="power" ngControl="heroPower">
      <option *ngFor="#power of powers" [value]="power">{{power}}</option>
    </select>
  </div>
  <pre>{{ diagnostic }}</pre>
</form> -->


<form [ngFormModel]="scheduleForm" (ngSubmit)="onSubmit()">
  <h2>Scheduling Form</h2>
  <div>
    <label for="email">Email</label>
    <input id="email" type="text" ngControl="email">
  </div>

  <label for="register">Register?</label>
  <input id="register" type="checkbox" ngControl="register">

  <div *ngIf="scheduleForm.controls['register'].value">
    <label for="password">Password</label>
    <input id="password" type="password" ngControl="password">
  </div>

  <button type="submit" [disabled]="!scheduleForm.valid">Submit</button>
  <pre>{{ diagnostic }}</pre>
  <pre>{{ scheduleForm.valid }}</pre>
  <pre>{{ scheduleForm.controls['password'].valid }}</pre>
</form>


<div *ngIf="submitted">
  <h3>Form successfully submitted!</h3>
</div>
