/*
  To whomever's reading this.
  Let me start off by apologizing for the awful, ugly and seemingly random
  scss. Where declarations are duplicated and '!important' can be seen.
  I am sorry. Continue with caution.
*/

.site-header {
  padding: 30px 15px 15px;

  img {
    width: 75px;
  }

  p {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .column-1,
  .column-2 {
    display: inline-block;
  }

  .column-1 {
    float: left;
    margin-right: 15px;
  }

  .column-2 {
    display: inline;
    margin-bottom: 20px;
  }
}

.header {
  max-width: 440px;
  margin: auto;
}

.twitter-follow-button:not(.twitter-follow-button-rendered) {
  position: static;
  visibility: visible;
  width: 101px;
  height: 20px;
  display: none;
}

.twitter-follow-button-rendered {
  position: absolute !important;
}

nav {
  margin: 15px;
  margin-top: 50px;
  margin-bottom: 0;
  text-align: center;

  a {
    font-family: $heading-font;
  }
}

.page-content {
  padding: 0 0 50px;
  max-width: 800px;
  margin: auto;

  .wrapper {
    padding: 0;
  }
}

.post {
  padding: 15px 30px;
  background-color: #fff;
  max-width: 770px;
  margin: auto;
  margin-top: 15px;
  box-shadow: 0px 0px 10px lightgray;
}

.post__meta {
  margin: 8px 0;
  color: $neutral;
}

.post__content {
  margin-bottom: 5px;
}

.post__button {
  text-align: right;
  text-transform: uppercase;
  font-family: $heading-font;
  font-size: 12px;
}

.pagination {
  text-align: center;
  font-family: $heading-font;
  color: $neutral;

  ul {
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin: 0 5px;
  }
}

footer {
  background-color: $dark;
  color: $main;
  width: 100%;
  padding-bottom: 40px;

  h2 {
    margin-bottom: 15px;
  }

  p {
    font-size: 14px;
  }

  .wrapper {
    max-width: 800px;
    margin: auto;
  }
}

.footer__links {
  text-align: center;
  margin: 15px;
}

.icon__octocat {
  width: 20px;
}

.hidden-dude {
  position: relative;
  left: 50%;
  top: 30%;
  max-width: 200px;
  margin-top: 15px;
  transform: translateX(-50%);
  -webkit-transform: translteX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  text-align: center;

  img {
    width: 200px;
    margin-top: 15px;
  }
}

body {
  position: relative;
  min-height: 100vh;
}

.page-content {
  min-height: calc(100vh - 300px);
}

.highlight {
    margin: 20px 0;

    pre {
      padding: 0 !important;
      font-size: 16px !important;
    }
}

.post-content {
  p {
    margin: 20px 0;
  }
}

.social {
  span {
    text-decoration: underline;
  }
}
